.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.heading {
    color: var(--blue-light);
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.listHeader,
.rows {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding: 16px 24px;
    background-color: #eeeef1;
}

.rows {
    position: relative;
    background-color: transparent;
    border-bottom: 1px solid var(--grey-light);
}

.rows:last-child {
    border-bottom: 0;
}

.listHeader span,
.rows span {
    width: 170px;
    font-family: 'DM sans';
    font-weight: 600;
    font-size: 14px;
    color: var(--blue-light);
}

.rows span {
    font-weight: 500;
}

.listHeader span:nth-child(1),
.rows span:nth-child(1) {
    width: 60px;
}

.iconContainer {
    display: flex;
    width: 50px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 18px;
    cursor: pointer;
}

.iconContainer .cancelIcon {
    height: 20px;
    fill: var(--red);
}

.speakerIcon {
    height: 20px;
    fill: var(--blue-dark);
    cursor: pointer;
}

.listContainer{
    height: calc(100% - 40px);
}

.listRows{
    height: calc(100% - 50px);
    overflow: auto;
}