.wrapper {
    display: flex;
    position: relative;
    min-height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    gap: 56px;
    padding: 24px 0;
    min-height: 100dvh;
    max-width: 265px;
    background-color: var(--blue);
    box-shadow: 1px 0px 2px 0px #1f1e2f;
}

.headerTitle {
    display: flex;
    align-items: center;
    align-self: center;
    gap: 8px;
    font-size: 16px;
    font-family: 'Founders grotesk';
    letter-spacing: 0.7px;
    color: #deca9c;
}

.headerTitle img {
    height: 20px;
}

.navBar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navBar .listContainer {
    min-width: 265px;
}

.navItem .iconContainer {
    min-width: 20px;
}

.navItem .navIcon {
    fill: var(--blue-lavander);
    height: 20px;
}

.navItem .dote {
    display: flex;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid var(--grey-light);
    transition: all 200ms linear;
}

.navItem:hover .dote {
    border-color: var(--yellow-primary);
    background-color: var(--yellow-primary);
}

.navItem:hover .navIcon {
    fill: var(--yellow-primary);
}

.navItem:hover .navText span {
    color: var(--yellow-primary);
}

.content {
    display: flex;
    position: relative;
    z-index: 1;
    width: calc(100% - 265px);
    padding: 24px;
    margin-left: auto;
    color: var(--blue);
    background-color: var(--grey-background);
}

.errorAlert {
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 1000;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-height: 100%;
}

.titleH2 {
    color: var(--blue);
    font-weight: 900;
}

.globalInfos {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.cardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.details {
    display: flex;
    height: 415px;
    width: 100%;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex: 1 1 387px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 30px 0px #d8d8df;
}

.sentenceWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    padding: 16px;
    gap: 16px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 30px 0px #d8d8df;
}

.sentenceContainer {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.sentenceTitle {
    color: var(--blue-light);
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.wordFinder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: calc(35% - 12px);
}

.searchWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 4px;
}

.filters button {
    font-size: 12px;
    font-weight: 500;
    color: var(--blue-light);
    border: none;
    background-color: transparent;
    padding: 8px 12px;
    border-radius: 5px;
    transition: all 100ms linear;
}

.filters button:hover {
    background-color: var(--yellow-primary);
    color: var(--blue-dark);
}

.filters .activeFilter {
    background-color: var(--yellow-primary);
    color: var(--blue-dark);
}

.inputContainer {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 48px;
    justify-content: space-between;
    align-items: center;
}

.inputContainer input {
    height: 100%;
    width: 100%;
    padding: 0 16px;
    border-radius: 3px;
    border: 1px solid var(--input-border);
    background: #fff;
    color: var(--blue);
    font-size: 16px;
    font-weight: 500;
}

.inputContainer input::placeholder {
    color: #a5a5bb;
    font-weight: 500;
}

.inputContainer input:focus {
    outline: 1px solid var(--blue);
}

.inputContainer .icon {
    position: absolute;
    right: 16px;
    fill: var(--blue-icon);
}

.inputContainer .deleteIcon {
    position: absolute;
    left: 16px;
    fill: var(--blue-light);
    height: 20px;
    cursor: pointer;
}

.inputContainer .iconsWrapper {
    display: flex;
    gap: 12px;
    position: absolute;
    right: 16px;
}

.iconsWrapper svg {
    height: 20px;
    cursor: pointer;
    fill: var(--blue);
}

.iconsWrapper .sendIcon {
    fill: var(--green-succes);
}

.smallCardsContainer {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 380px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 8px;
    padding: 0 0 4px 2px;
    flex-wrap: wrap;
    overflow-y: auto;
}

.sentenceMaker {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: calc(65% - 12px);
    flex: 1 1 416px;
}

.sentenceMaker .inputContainer {
    width: 100%;
}

.sentenceMaker input {
    color: var(--blue-light, #3c435d);
    width: 100%;
    font-family: Satoshi;
    font-size: 15px;
    font-weight: 700;
    line-height: normal;
    padding: 0 56px;
}

.sentenceMaker .content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: transparent;
}

.sentenceMaker .sentenceMakerTitle {
    color: var(--blue-dark, #25293a);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.registered {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    overflow: hidden;
}

.sentenceItem {
    display: flex;
    padding: 16px 24px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid var(--grey-light);
}

.sentenceItem span {
    font-weight: 500;
    max-width: calc(100% - 56px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.transitionContainer {
    width: 100%;
}

.sentenceItem:last-child {
    border-bottom: 0;
}

.contentContainer {
    display: flex;
    align-items: center;
    gap: 32px;
    color: var(--blue-light, #3c435d);
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    max-width: calc(100% - 24px);
    padding-right: 56px;
    overflow: hidden;
}

.contentContainer svg {
    cursor: pointer;
}

.sentenceItem .cancelIcon,
.inputContainer .cancelIcon {
    height: 20px;
    fill: var(--red);
    cursor: pointer;
}

.lastItem {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

@media screen and (max-width: 1134px) {
    .wordFinder {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .headerTitle {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 400;
    }
    .navBar .listContainer {
        display: flex;
        flex-direction: column;
        width: 126px;
        min-width: unset;
    }

    .navItem .navText {
        display: none;
    }

    .navItem .iconContainer {
        display: flex;
        justify-content: center;
    }

    .navBar a {
        justify-content: center;
    }

    .navBar .navItem {
        justify-content: center;
        padding-right: 0;
        gap: 0;
    }

    .content {
        width: calc(100% - 126px);
    }
}
