.wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    height: 100%;
}

.heading{
    color: var(--blue-light);
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.rows{
    display: flex;
    align-items: center;
    gap: 48px;
    width: 100%;
    padding: 24px 24px;
    background-color: #EEEEF1;
}

.rows{
    position: relative;
    background-color: transparent;
    border-bottom: 1px solid var(--grey-light);
}

.rows:last-child{
    border-bottom: 0;
}

.rows span{
    width: 100px;
    font-family: "Satoshi";
    font-size: 14px;
    font-weight: 600;
    color: var(--blue-light);
}


.rows span:nth-child(1){
    display: flex;
    align-items: center;
    width: fit-content;
}

.rows span:nth-child(1) svg{
    fill: var(--blue-lavander);
}

.color{
    display: flex;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.iconContainer{
    display: flex;
    width: 50px;
    gap: 12px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 18px;
    cursor: pointer;
}

.iconContainer .cancelIcon{
    height: 20px;
    fill: var(--red);
}

.iconContainer .editIcon{
    fill: #e09f3e;
}

.listContainer{
    height: calc(100% - 40px);
    overflow-y: auto;
}
