.mainContent{
  display: flex;
  width: 100%;
}

.titleWrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  padding: 0 10dvw;
  gap: 56px;
}

.title {
  display: flex;
  position: relative;
  z-index: 2;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  background-color: inherit;
  gap: 16px;
}

.titleH1 {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 80px;
  font-weight: 900;
  white-space: nowrap;
  line-height: normal;
  color: var(--yellow-primary);
}

.titleP{
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  max-width: 482px;
}

.mainContent .titleButton{
  text-transform: none;
  background-color: var(--yellow-primary);
  color: #25293A;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0;
  padding: 16px;
  margin-top: 46px;
}

.mainContent .titleButton:hover{
  background-color: #E6BC83;
}

.backgroundImg{
  background-image: url(../../assets/img/bg.png);
  background-position-y: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100dvh;
  position: relative;
  width: 50%;
  z-index: 1;
}
