.mainContent{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100dvh;
  background-image: url(../../assets/img/home-bg.svg);
  background-size: 100%;
  background-position: center center;
}

.titleWrapper{
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  background-color: inherit;
  gap: 32px;
}

.titleH1 {
  display: flex;
  align-items: center;
  gap: 32px;
  font-family: "Founders grotesk", sans-serif;
  font-size: 56px;
  font-weight: 500;
  white-space: nowrap;
  line-height: .8;
  color: var(--yellow-primary);
}

.titleH1 img{
  height: 45px;
}

.titleP{
  color: var(--grey-light);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  max-width: 482px;
}

.buttonsContainer{
  display: flex;
  gap: 56px;
  width: 100%;
  margin-top: 16px;
}

.mainContent .titleButton, .mainContent .titleButtonOutlined{
  width: calc(50% - 28px);
}

.mainContent .titleButton{
  text-transform: none;
  background-color: var(--yellow-primary);
  color: #25293A;
  border-radius: 30px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.4;
  letter-spacing: 0;
  padding: 16px 24px;
}

.mainContent .titleButtonOutlined{
  text-transform: none;
  color: var(--yellow-primary);
  border: 1px solid var(--yellow-primary);
  border-radius: 30px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0;
  padding: 16px 24px;
}

.mainContent .titleButton:hover{
  background-color: #E6BC83;
}

.mainContent .titleButtonOutlined:hover{
  background-color: #fcde9c17;
  border: 1px solid var(--yellow-primary);
}

