@font-face {
  font-family: "Satoshi";
  src: url(../../../assets/fonts/Satoshi-Variable.ttf);
}

@font-face {
  font-family: "DM sans";
  src: url(../../../assets/fonts/DMSans-VariableFont_opsz\,wght.ttf);
}

:root{
  --yellow-primary: #FCDE9C;
  --blue-background: #25293A;
}

*, ::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Satoshi", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--blue-background);
  color: #fff;
  min-height: 100vh;
}

#root button{
  font-family: "DM sans";
}

.main-content{
  display: flex;
}

.title-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  padding: 0 10dvw;
  gap: 56px;
}

.title {
  display: flex;
  position: relative;
  z-index: 2;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  background-color: inherit;
  gap: 8px;
}

.title h1{
  font-size: 80px;
  font-weight: 900;
  line-height: normal;
  color: var(--yellow-primary);
}

.title p{
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  max-width: 482px;
}

.title button{
  text-transform: none;
  background-color: var(--yellow-primary);
  color: #25293A;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0;
  padding: 16px;
  margin-top: 46px;
}

.title button:hover{
  background-color: #E6BC83;
}

.main-content .background-image{
  background-image: url(../../../assets/img/bg.png);
  background-position-y: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100dvh;
  position: relative;
  width: 50%;
  z-index: 1;
}
