.pad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 236.8px;
    height: 127px;
    padding: 10px;
    gap: 4px;
    border-radius: 4px;
    background: var(--blue);
    box-shadow: 0px 2px 4px 0px #1f1e2f;
    border: none;
}

.padId {
    position: absolute;
    left: 10px;
    top: 8.5px;
    color: #b6b6b6;
    font-size: 10.667px;
    font-weight: 500;
    line-height: normal;
}

.wordsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.french {
    color: #fcde9c;
    font-family: 'Satoshi', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}

.english {
    color: #fff;
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

.pad:focus, .pad:hover{
    background: var(--purple-focus);
    outline: transparent;
}

.pad:focus .padId, .pad:focus .french, .pad:hover .padId, .pad:hover .french{
    color: var(--blue);
}

.pad:focus .english, .pad:hover .english{
    color: var(--blue-light);
}
