.pad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 202.67px;
    height: 100px;
    padding: 10px;
    gap: 4px;
    border-radius: 4px;
    background: var(--blue);
    box-shadow: 0px 2px 4px 0px #1F1E2F, 0px 0px 7px 0px #202331 inset;
    transition: all 90ms linear;
    border: none;
}

.pad.permanent {
    background-color: var(--blue-light);
}

.pad.outlined {
    background-color: transparent;
    box-shadow: unset;
    border: 1px solid var(--blue-light);
}

.pad.outlined .french {
    color: var(--grey-light);
    font-size: 16px;
    font-weight: 400;
}

.pad svg{
    position: absolute;
    right: 8px;
    bottom: 8px;
    width: 15%;
}

.pad.outlined svg {
    height: 20px;
    width: auto;
    position: initial;
}

.padId {
    position: absolute;
    left: 10px;
    top: 8.5px;
    color: #b6b6b6;
    font-size: 10.667px;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70px;
}

.wordsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.iconWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.french {
    color: #fcde9c;
    font-family: 'Satoshi', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}

.english {
    color: #fff;
    font-family: Satoshi;
    font-size: 14px;
    font-weight: 300;
    line-height: normal;
}

.french,
.english {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 170px;
}

.pad:focus,
.pad:hover {
    background: var(--purple-focus);
    outline: transparent;
    box-shadow: 0px 2px 4px 0px #1F1E2F, -4px -5px 7px 0px #9A81A6 inset;
}

.pad.outlined:focus, .pad.outlined:hover{
    box-shadow: unset;
}

.pad:focus .padId,
.pad:focus .french,
.pad:hover .padId,
.pad:hover .french {
    color: var(--blue);
}

.pad:focus .english,
.pad:hover .english {
    color: var(--blue-light);
}

.pad.outlined:focus svg,
.pad.outlined:hover svg {
    fill: var(--blue-dark);
}

.pad.outlined svg {
    fill: var(--blue-icon);
}
