.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background-color: var(--blue-background);
    color: #fff;
    min-height: 100vh;
}


.appHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 75px;
    padding: 16px 112px;
    background-color: var(--blue);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 0px 44px -11px var(--blue-dark), 0 0 7px 0 var(--blue-dark) inset;
    animation: appear 700ms cubic-bezier(0,.66,.62,1) both;
}

@keyframes appear{
    from{
        transform: translateY(-110%);
    } to {
        transform: translateY(0);
    }
}

.headerContainer{
    display: inherit;
    flex-direction: inherit;
    justify-content: space-between;
    align-items: inherit;
    position: inherit;
    width: inherit;
    max-width: 1248px;
}

button:hover {
    cursor: pointer;
}

.headerH1 {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    gap: 12px;
    font-size: 18px;
    font-family: 'Founders grotesk', sans-serif;
    font-weight: 500;
    color: #DECA9C;
}

.headerH1 img {
    height: 20px;
}

.appHeader .navLink {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: 100%;
    padding: 8px 16px;
    color: var(--grey-light);
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    max-width: 912px;
    margin: auto 96px;
}

.speechWrapper {
    display: flex;
    width: 100%;
    height: 55px;
    overflow: hidden;
    border-radius: 30px;
    border: 1px solid var(--blue-light);
}

.speechWrapper input {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 24px;
    color: var(--grey-light);
    font-size: 18px;
    font-weight: 500;
}

.speechWrapper input:focus {
    outline: inherit;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-light);
    padding: 8px 18px;
    border: none;
    color: var(--blue-lavander);
}

.iconContainer:focus,
.iconContainer:hover {
    background-color: var(--purple-focus);
    color: var(--blue-light);
    outline: transparent;
}

.cardsContainer {
    display: flex;
    width: 100%;
    gap: 24px;
    flex-wrap: wrap;
}

.cardsContainer .mySwiper{
    padding-right: 2px;
    padding-bottom: 56px;
}

.cardsContainer .swiperSlide{
    height: fit-content;
}

.deviceStatus {
    display: flex;
    align-items: center;
    gap: 12px;
}

.deviceStatus span {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: var(--grey-light);
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.led {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--green-succes);
    margin-top: 1px;
}

.led::after {
    content: '';
    display: flex;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(105, 220, 221, 0.15);
    animation: pulse 1s infinite;
    transform: perspective(336px) translateZ(0px);
}


@keyframes pulse {
    to {
      transform: perspective(336px) translateZ(168px);
      opacity: 0;
    }
  }
